<a href="https://colab.research.google.com/github/DaryaJavadi/Machine_learning_projects/blob/main/global_terrorism_scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("START-UMD/gtd")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'gtd' dataset.
Path to dataset files: /kaggle/input/gtd

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)

In [ ]:
!kaggle datasets download START-UMD/gtd

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [ ]:
!unzip archive.zip

Archive:  archive.zip
replace globalterrorismdb_0718dist.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: globalterrorismdb_0718dist.csv

In [ ]:
df = pd.read_csv('/content/globalterrorismdb_0718dist.csv', encoding="latin1")
df

/tmp/ipython-input-2857861488.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/globalterrorismdb_0718dist.csv', encoding="latin1")

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [ ]:
# 1.
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 181691
Columns: 135

In [ ]:
# 2.
missing = df.isnull().sum().sort_values(ascending=False)
print(missing.head(20))

gsubname3           181671
weapsubtype4        181621
weapsubtype4_txt    181621
weaptype4_txt       181618
weaptype4           181618
claimmode3          181558
claimmode3_txt      181558
gsubname2           181531
claim3              181373
guncertain3         181371
divert              181367
gname3              181367
attacktype3         181263
attacktype3_txt     181263
ransomnote          181179
ransompaidus        181139
ransomamtus         181128
claimmode2_txt      181075
claimmode2          181075
ransompaid          180917
dtype: int64

In [ ]:
# 3.
numeric_cols = df.select_dtypes(include=["int64","float64"]).columns
categorical_cols = df.select_dtypes(include=["object"]).columns

print("Numeric:", len(numeric_cols))
print("Categorical:", len(categorical_cols))

Numeric: 77
Categorical: 58

In [ ]:
# 4.
top_countries = df["country_txt"].value_counts().head(10)
print(top_countries)

country_txt
Iraq              24636
Pakistan          14368
Afghanistan       12731
India             11960
Colombia           8306
Philippines        6908
Peru               6096
El Salvador        5320
United Kingdom     5235
Turkey             4292
Name: count, dtype: int64

In [ ]:
# 5.
top_attack = df["attacktype1_txt"].value_counts().head(1)
print(top_attack)

attacktype1_txt
Bombing/Explosion    88255
Name: count, dtype: int64

In [ ]:
# 6.
def outlier_count(col):
    Q1 = col.quantile(0.25)
    Q3 = col.quantile(0.75)
    IQR = Q3 - Q1
    return ((col < Q1 - 1.5*IQR) | (col > Q3 + 1.5*IQR)).sum()

numeric_cols = df.select_dtypes(include=["int64", "float64"])
outliers = numeric_cols.apply(outlier_count)

top5 = outliers.sort_values(ascending=False).head(5)
print(top5)

doubtterr      42785
specificity    36689
attacktype1    30796
weaptype1      30708
multiple       25032
dtype: int64

In [ ]:
# 7.
nkill_outliers = outlier_count(df["nkill"].dropna())
nwound_outliers = outlier_count(df["nwound"].dropna())

print("nkill outliers:", nkill_outliers)
print("nwound outliers:", nwound_outliers)

nkill outliers: 16242
nwound outliers: 19850

In [ ]:
# 8.
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_std = scaler.fit_transform(df[["nkill","nwound"]].fillna(0))

df_std = pd.DataFrame(scaled_std, columns=["nkill_std", "nwound_std"])
print(df_std.head())

   nkill_std  nwound_std
0  -0.112840   -0.084037
1  -0.201911   -0.084037
2  -0.112840   -0.084037
3  -0.201911   -0.084037
4  -0.201911   -0.084037

In [ ]:
# 9.
print("Mean:", df_std.mean())
print("Std:", df_std.std())

Mean: nkill_std     1.759824e-17
nwound_std    3.363220e-18
dtype: float64
Std: nkill_std     1.000003
nwound_std    1.000003
dtype: float64

In [ ]:
# 10.
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
scaled_mm = minmax.fit_transform(df[["nkill","nwound"]].fillna(0))

df_mm = pd.DataFrame(scaled_mm, columns=["nkill_mm", "nwound_mm"])
print(df_mm.head())

   nkill_mm  nwound_mm
0  0.000637        0.0
1  0.000000        0.0
2  0.000637        0.0
3  0.000000        0.0
4  0.000000        0.0

In [ ]:
# 11.
print("Min:", df_mm.min())
print("Max:", df_mm.max())

Min: nkill_mm     0.0
nwound_mm    0.0
dtype: float64
Max: nkill_mm     1.0
nwound_mm    1.0
dtype: float64

In [ ]:
# 12.
from sklearn.preprocessing import RobustScaler

robust = RobustScaler()
scaled_rb = robust.fit_transform(df[["nkill","nwound"]].fillna(0))

df_rb = pd.DataFrame(scaled_rb, columns=["nkill_rb", "nwound_rb"])
print(df_rb.head())

   nkill_rb  nwound_rb
0       0.5        0.0
1       0.0        0.0
2       0.5        0.0
3       0.0        0.0
4       0.0        0.0

In [ ]:
# 13.
print("StandardScaler mean:", df_std.mean().values)
print("StandardScaler std:", df_std.std().values)

print("MinMaxScaler min:", df_mm.min().values)
print("MinMaxScaler max:", df_mm.max().values)

print("RobustScaler median:", df_rb.median().values)
print("RobustScaler IQR:", (df_rb.quantile(0.75) - df_rb.quantile(0.25)).values)

StandardScaler mean: [1.75982427e-17 3.36321971e-18]
StandardScaler std: [1.00000275 1.00000275]
MinMaxScaler min: [0. 0.]
MinMaxScaler max: [1. 1.]
RobustScaler median: [0. 0.]
RobustScaler IQR: [1. 1.]